body {
  background-image: url(assets/footbal2.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.messi,
.ronaldo,
.neymar,
.ronaldinho {
    background-color: whitesmoke;
    width: 210px;
    height: 350px;
    display: inline-block;
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 9px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.profile-image-messi,
.profile-image-ronaldo,
.profile-image-neymar,
.profile-image-ronaldinho {
    width: 190px;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 9.5px;
    margin-top: 10px;
    box-shadow: 0 0 5px gray;
}
.profile-image-messi{
    background-image: url(assets/Messi.jpg);
    background-attachment: scroll;
 background-size: cover;
 background-repeat: no-repeat;
}
.profile-image-ronaldo{
    background-image:url(assets/Ronaldo.jpg);
 background-attachment: scroll;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}
.profile-image-neymar{
    background-image: url(assets/Neymar.jpg);
 background-attachment: scroll;
 background-size: cover;
 background-repeat: no-repeat;
}
.profile-image-ronaldinho{
    background-image:url(assets/ronaldinho2.jpg);
 background-size: cover;
 background-repeat: no-repeat;

}
.messi-h {
    font-family: sans-serif;
    padding-left: 31%;
    padding-top: 10px;
    margin: auto;
}

.ronaldo-h {
    font-family: sans-serif;
    padding-left: 26%;
}

.neymar-h {
    font-family: sans-serif;
    padding-left: 27%;
}

.ronaldinho-h {
    font-family: sans-serif;
    padding-left: 19%;
}
.messi-p{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 10px;
  
}
.messi-follow{
border: none;
background: linear-gradient(to right, rgb(23, 23, 156), rgb(124, 7, 116));
width: 120px;
height: 45px;
margin-left: 44px;
border-radius: 50px;
color:white;
box-shadow: 0 0 2px rgb(68, 0, 255);
margin-top: 6px;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.messi-follow:hover{
    transform: scale(1.05) translateY(-3px);
    transition:all ease 0.5s;
    box-shadow: 0 0 10px rgb(68, 0, 255);
    background: linear-gradient(to left, rgb(23, 23, 156),rgb(124, 7, 116));
   
    
}
.messi-follow:active{
    background:  linear-gradient(to right, rgb(23, 23, 156), rgb(124, 7, 116)) ;
}
.ronaldo-follow{
    border: none;
background: linear-gradient(to right, rgb(23, 23, 156), rgb(124, 7, 116));
width: 120px;
height: 45px;
margin-left: 44px;
border-radius: 50px;
color:white;
box-shadow: 0 0 2px rgb(68, 0, 255);
margin-top: 6px;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.ronaldo-follow:hover{
    transform: scale(1.05) translateY(-3px);
    transition:all ease 0.5s;
    box-shadow: 0 0 10px rgb(68, 0, 255);
    background: linear-gradient(to left, rgb(23, 23, 156),rgb(124, 7, 116));
   
}
.ronaldo-follow:active{
    background:  linear-gradient(to right, rgb(23, 23, 156), rgb(124, 7, 116));
}
.neymar-follow{
    border: none;
background: linear-gradient(to right, rgb(23, 23, 156), rgb(124, 7, 116));
width: 120px;
height: 45px;
margin-left: 44px;
border-radius: 50px;
color:white;
box-shadow: 0 0 2px rgb(68, 0, 255);
margin-top: 6px;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.neymar-follow:hover{
    transform: scale(1.05) translateY(-3px);
    transition:all ease 0.5s;
    box-shadow: 0 0 10px rgb(68, 0, 255);
    background: linear-gradient(to left, rgb(23, 23, 156),rgb(124, 7, 116));
   
}
.neymar-follow:active{
    background:  linear-gradient(to right, rgb(23, 23, 156), rgb(124, 7, 116));
}
.ronaldinho-follow{
    border: none;
background: linear-gradient(to right, rgb(23, 23, 156), rgb(124, 7, 116));
width: 120px;
height: 45px;
margin-left: 44px;
border-radius: 50px;
color:white;
box-shadow: 0 0 2px rgb(68, 0, 255);
margin-top: 6px;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.ronaldinho-follow:hover{
    transform: scale(1.05) translateY(-3px);
    transition:all ease 0.5s;
    box-shadow: 0 0 10px rgb(68, 0, 255);
    background: linear-gradient(to left, rgb(23, 23, 156),rgb(124, 7, 116));
   
}
.ronaldinho-follow:active{
    background:  linear-gradient(to right, rgb(23, 23, 156), rgb(124, 7, 116));
}
.ronaldo-p{
     font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 10px;
}
.neymar-p{
     font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 10px;
}
.ronaldinho-p{
     font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-right: 10px;
}
h1{
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top:70px;
    margin-left: 160px;
    position: absolute;
}
.messi:hover{
    transform: translateY(-10px);
    transition: all 0.4s ease;
}
.messi{
    transition: transform 0.3s ease-in-out;
}
.ronaldo:hover{
    transform: translateY(-10px);
    transition: all 0.4s ease;
}
.ronaldo{
    transition: transform 0.3s ease-in-out;
}
.neymar:hover{
    transform: translateY(-10px);
    transition: all 0.4s ease;
}
.neymar{
    transition: transform 0.3s ease-in-out;
}
.ronaldinho:hover{
    transform: translateY(-10px);
    transition: all 0.4s ease;
}
.ronaldinho{
    transition: transform 0.3s ease-in-out;
}